[submodule "flutter-counter"]
	path = flutter-counter
	url = git@github.com:robence/flutter-counter.git
[submodule "rive-app"]
	path = rive-app
	url = git@github.com:robence/flutter-rive-app.git
[submodule "bloc-counter"]
	path = bloc-counter
	url = git@github.com:robence/flutter-bloc-counter.git
[submodule "startup_namer"]
	path = startup_namer
	url = git@github.com:robence/startup_namer.git
[submodule "flutter_friendly_chat"]
	path = flutter_friendly_chat
	url = git@github.com:robence/flutter_friendly_chat.git
[submodule "flutter_login_input"]
	path = flutter_login_input
	url = git@github.com:robence/flutter_login_input.git
[submodule "cupertino_store"]
	path = cupertino_store
	url = git@github.com:robence/cupertino_store.git
[submodule "flutter_i_am_rich"]
	path = flutter_i_am_rich
	url = https://github.com/robence/flutter_i_am_rich
[submodule "mi_card_flutter"]
	path = mi_card_flutter
	url = https://github.com/robence/mi_card_flutter
[submodule "flutter_dicee"]
	path = flutter_dicee
	url = https://github.com/robence/flutter_dicee
